@reference "#tailwind.css";

.breadcrumb {
    @apply w-full px-3 py-2 shadow-sm rounded-md justify-between flex items-center bg-white/80;
}

html[class='dark'] {
    .breadcrumb {
        @apply bg-zinc-800/80;
    }
}
