@reference "#tailwind.css";

.user {
    @apply flex gap-4 justify-end items-center;
}

.avatar {
    @apply w-10 h-10 block rounded-full p-1 bg-white cursor-pointer duration-200 transition-shadow;

    & img {
        @apply transition-transform duration-200;

        &:hover {
            transform: rotate(360deg);
        }
    }

    &:hover {
        @apply shadow-amber-400  shadow-nylg;
    }
}

.user > .authBtns {
    @apply flex gap-4;
}

.user > .authBtns > .authBtn {
    @apply flex items-center justify-center px-4 py-2 
            rounded-full text-sm font-medium transition-all duration-300 border border-transparent
            hover:shadow-lg hover:scale-105 active:scale-95;
}
