.layout {
    min-height: 100vh;
    width: 100%;
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(231, 229, 228, 0.8);
}

@media (prefers-color-scheme: dark) {
    .layout {
        background-color: rgba(24, 24, 27, 0.6);
    }
}
