@reference "#tailwind.css";

.container {
    @apply flex flex-auto w-full;

    & > [class~='wmde-markdown-var'][class~='w-md-editor'] {
        @apply flex-auto w-full;
    }

    & [class~='wmde-markdown-var']:has([class~='w-md-editor-text-input']:disabled) {
        @apply pointer-events-none cursor-not-allowed;

        &::before {
            @apply content-[''] absolute inset-0 z-[99] pointer-events-none rounded-[3px] bg-zinc-300/50 backdrop-blur-[2px];
        }

        & > [class~='w-md-editor-content'] > [class~='w-md-editor-area'],
        & > [class~='w-md-editor-content'] > [class~='w-md-editor-preview'] {
            @apply overflow-hidden;
        }
    }
}

html[class='dark'] {
    .container {
        & [class~='wmde-markdown-var']:has([class~='w-md-editor-text-input']:disabled) {
            &::before {
                @apply bg-zinc-900/50;
            }
        }
    }
}
