@reference "#tailwind.css";

.nav {
    @apply flex items-center justify-start w-full h-full;
}

.nav > .menus {
    @apply hidden md:flex flex-auto max-w-full !justify-start;
}

.nav > .menus .menu-item {
    @apply [&_svg:not([class*='text-'])]:text-foreground;

    & > a {
        @apply bg-transparent hover:bg-transparent duration-200 transition-all inline-flex py-0 text-base flex-row gap-0;

        &:hover {
            @apply font-semibold;
        }
    }
}

.nav > .menus .menu-item:first-child > a {
    @apply pl-0;
}

.nav > .menus > a {
    @apply text-gray-700 hover:text-gray-900;
}

.mobileNav {
    @apply flex w-full p-2;

    & > ul {
        @apply flex w-full flex-col flex;

        & > li {
            @apply flex w-full items-center h-9 py-1 px-3 mt-2;

            &:first-child {
                @apply mt-0;
            }

            & > a {
                @apply flex items-center w-full h-full;
            }
        }
    }
}
