@reference "#tailwind.css";

.side,
.modal {
    @apply hidden;
}

.side {
    @apply fixed flex flex-col h-screen w-60 z-[999] 
           bg-[rgb(255_255_255/0.8)]  backdrop-blur-sm
           transition-transform duration-300 ease-out  -translate-x-full;

    & > .top {
        @apply flex flex-none items-center justify-between px-4 h-10 shadow-[rgba(0_0_0/0.1)_0px_1px_2px_0px];
    }

    & > .content {
        @apply flex-auto;
    }

    &.open {
        @apply translate-x-0;
    }
}

.modal.open {
    @apply block fixed inset-0 bg-black/50 z-50;
}

html[class='dark'] {
    .side {
        @apply bg-[rgba(24_24_27/0.9)];
    }
}
