@reference "#tailwind.css";

.overlay {
    @apply grid place-items-center backdrop-blur-sm;
}

/* .content {
    @apply fixed left-[50%] top-[50%] z-50 grid max-w-lg translate-x-[-50%] translate-y-[-50%] gap-4 border bg-background p-6 shadow-lg duration-200 data-[state=open]:animate-in data-[state=closed]:animate-out data-[state=closed]:fade-out-0 data-[state=open]:fade-in-0 data-[state=closed]:zoom-out-95 data-[state=open]:zoom-in-95 data-[state=closed]:slide-out-to-left-1/2 data-[state=closed]:slide-out-to-top-[48%] data-[state=open]:slide-in-from-left-1/2 data-[state=open]:slide-in-from-top-[48%] sm:rounded-lg flex w-[70%] px-0 px-12 py-0 max-w-none border-none [&_>button]:hidden bg-transparent !gap-0 focus-visible:!outline-0;
} */

.content {
    @apply /* 定位相关 */
        fixed 
        left-[50%] 
        top-[50%] 
        z-[var(--z-index-modal)] 
        translate-x-[-50%] 
        translate-y-[-50%] 

        /* 布局相关 */
        flex
        grid 
        gap-0!

        /* 尺寸相关 */
        w-[20rem]
        md:w-[45rem]
        lg:w-[60rem]
        max-w-none
        p-0

        /* 外观相关 */
        bg-transparent
        rounded-sm
        md:rounded-lg
        border-none
        focus-visible:outline-0!
        [&_>button]:hidden

        /* 动画与过渡相关 */
        duration-200;
}

.content[data-state='open'] {
    @apply animate-in
        fade-in-0
        zoom-in-95
        slide-in-from-left-1/2
        slide-in-from-top-[48%];
}

.content[data-state='close'] {
    @apply animate-out
        fade-out-0
        zoom-out-95
        slide-out-to-left-1/2
        slide-out-to-top-[48%];
}

.closeBtn {
    @apply flex size-10 items-center justify-center rounded-full
                        text-lg text-white shadow-nymd shadow-white/60 transition
                         duration-300 ease-in-out hover:rotate-180 focus-visible:outline-0!;
}
